WpfWcfClient/Connected Services/MangaReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Manga">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:float" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Manga" nillable="true" type="tns:Manga" />
  <xs:complexType name="ArrayOfManga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Manga" nillable="true" type="tns:Manga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManga" nillable="true" type="tns:ArrayOfManga" />
</xs:schema>