WpfWcfClient/Connected Services/MangaReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF_Library/MangaService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Library" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Library" minOccurs="0" name="newManga" nillable="true" type="q1:Manga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Library" minOccurs="0" name="manga" nillable="true" type="q2:Manga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Library" minOccurs="0" name="GetAllResult" nillable="true" type="q3:ArrayOfManga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllByAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Library" minOccurs="0" name="GetAllByAuthorResult" nillable="true" type="q4:ArrayOfManga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Contains">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Library" minOccurs="0" name="manga" nillable="true" type="q5:Manga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainsResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>