WpfWcfClient/Connected Services/MangaService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MangaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IManga_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IManga_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IManga_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IManga_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IManga_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IManga_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IManga_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IManga_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IManga_GetAllByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByAuthor" />
  </wsdl:message>
  <wsdl:message name="IManga_GetAllByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllByAuthorResponse" />
  </wsdl:message>
  <wsdl:portType name="IManga">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IManga/Add" message="tns:IManga_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManga/AddResponse" message="tns:IManga_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IManga/Edit" message="tns:IManga_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManga/EditResponse" message="tns:IManga_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IManga/Delete" message="tns:IManga_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManga/DeleteResponse" message="tns:IManga_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IManga/GetAll" message="tns:IManga_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManga/GetAllResponse" message="tns:IManga_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IManga/GetAllByAuthor" message="tns:IManga_GetAllByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManga/GetAllByAuthorResponse" message="tns:IManga_GetAllByAuthor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IManga" type="tns:IManga">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IManga/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IManga/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IManga/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IManga/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByAuthor">
      <soap:operation soapAction="http://tempuri.org/IManga/GetAllByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MangaService">
    <wsdl:port name="BasicHttpBinding_IManga" binding="tns:BasicHttpBinding_IManga">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Library/MangaService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>